/*---
layout: master.hbs
title: ASBRA - Newsletter
subtitle: Newsletter
description: The Official Website of ASBRA, the Aloha State Bicycle Racing Association.
activePage: newsletter
head: |
  <link href="/style/index.css" rel="stylesheet" type="text/css">
  <link href="/style/newsletter.css" rel="stylesheet" type="text/css">
---*/

<section id="sign_up">
  <h2>Sign Up</h2>

  <p>Want to stay up to date with the latest Aloha State Bicycle Racing news announcements? Sign up for our newsletter and never miss a race, get timely post-race results, find out about cycling events in the community, and more. ASBRA will never share your information with a 3rd party organization, or contact you other than with information about bicycle races in the state of Hawaii. Unsubscribe at any time.</p>

  {{> signup}}
</section>

<section id="latest_newsletter">
  <iframe src="https://mailchi.mp/asbra/2023-fall-newsletter-9423307" width="90%"></iframe>
</section>
