/*---
layout: master.hbs
title: ASBRA - Newsletter
subtitle: Newsletter
description: The Official Website of ASBRA, the Aloha State Bicycle Racing Association.
activePage: newsletter
head: |
  <link href="/style/index.css" rel="stylesheet" type="text/css">
  <link href="/style/newsletter.css" rel="stylesheet" type="text/css">
---*/

<section id="sign_up">
  <h2>Sign Up</h2>

  <p>Want to stay up to date with the latest Aloha State Bicycle Racing news announcements? Sign up for our newsletter and never miss a race, get timely post-race results, find out about cycling events in the community, and more. ASBRA will never share your information with a 3rd party organization, or contact you other than with information about bicycle races in the state of Hawaii. Unsubscribe at any time.</p>

  {{> signup}}
</section>

<section id="latest_newsletter">
  <table border="0" cellpadding="0" cellspacing="0" width="100%" class="templateContainer"
    style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;border: 0;max-width: 600px !important;">
    <tbody>
    <tr>
      <td valign="top" id="templateHeader"
        style="background:#FFFFFF none no-repeat center/cover;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #FFFFFF;background-image: none;background-repeat: no-repeat;background-position: center;background-size: cover;border-top: 0;border-bottom: 0;padding-top: 9px;padding-bottom: 0;">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageBlock"
          style="min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
          <tbody class="mcnImageBlockOuter">
          <tr>
            <td valign="top"
              style="padding: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"
              class="mcnImageBlockInner">
              <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0"
                class="mcnImageContentContainer"
                style="min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                <tbody>
                <tr>
                  <td class="mcnImageContent" valign="top"
                    style="padding-right: 9px;padding-left: 9px;padding-top: 0;padding-bottom: 0;text-align: center;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">


                    <img align="center" alt=""
                      src="https://mcusercontent.com/ee78753d77175ca765c253254/images/91f748f7-ea55-48e0-9e63-aa35f2640aba.png"
                      width="196"
                      style="max-width: 196px;padding-bottom: 0;display: inline !important;vertical-align: bottom;border: 0;height: auto;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;"
                      class="mcnImage">


                  </td>
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td valign="top" id="templateBody"
        style="background:#FFFFFF none no-repeat center/cover;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #FFFFFF;background-image: none;background-repeat: no-repeat;background-position: center;background-size: cover;border-top: 0;border-bottom: 2px solid #EAEAEA;padding-top: 0;padding-bottom: 9px;">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock"
          style="min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
          <tbody class="mcnTextBlockOuter">
          <tr>
            <td valign="top" class="mcnTextBlockInner"
              style="padding-top: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
              <!--[if mso]>
              <table align="left" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100%;">
                <tr>
              <![endif]-->

              <!--[if mso]>
              <td valign="top" width="600" style="width:600px;">
              <![endif]-->
              <table align="left" border="0" cellpadding="0" cellspacing="0"
                style="max-width: 100%;min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"
                width="100%" class="mcnTextContentContainer">
                <tbody>
                <tr>

                  <td valign="top" class="mcnTextContent"
                    style="padding-top: 0;padding-right: 18px;padding-bottom: 9px;padding-left: 18px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;word-break: break-word;color: #202020;font-family: Helvetica;font-size: 16px;line-height: 150%;text-align: left;">

                    <h1
                      style="display: block;margin: 0;padding: 0;color: #202020;font-family: Helvetica;font-size: 26px;font-style: normal;font-weight: bold;line-height: 125%;letter-spacing: normal;text-align: left;">Aloha&nbsp;Racers,</h1>

                    <p
                      style="margin: 10px 0;padding: 0;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #202020;font-family: Helvetica;font-size: 16px;line-height: 150%;text-align: left;">A new year is upon us, and we are hopeful for a safe and productive season with a full calendar of racing!</p>

                    <h2 class="null"
                      style="display: block;margin: 0;padding: 0;color: #202020;font-family: Helvetica;font-size: 22px;font-style: normal;font-weight: bold;line-height: 125%;letter-spacing: normal;text-align: left;">2022 Season</h2>

                    <p
                      style="margin: 10px 0;padding: 0;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #202020;font-family: Helvetica;font-size: 16px;line-height: 150%;text-align: left;">Live, in person racing is back! Our tireless race directors are hard at work getting a full calendar of races permitted and ready to go. The first race of the season is the Makaha Time Trial on February 19th run by
                      <a href="https://www.hitricenter.com/makaha-time-trial" target="_blank"
                        style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #007C89;font-weight: normal;text-decoration: underline;">Hawaii Triathlon Center</a> and
                      <a href="https://flpregister.com/568" target="_blank"
                        style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #007C89;font-weight: normal;text-decoration: underline;">registration is now open</a>. We would like to issue a special thank you to Ben Williams of Hawaii Triathlon Center for his persistent&nbsp;advocacy over the last two years to bring bicycle racing and triathlons back to Oahu! The full calendar is available
                      <a href="https://asbra.org/calendar/" target="_blank"
                        style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #007C89;font-weight: normal;text-decoration: underline;">on our website</a>, but here are the details for the first few:
                    </p>

                    <ul>
                      <li
                        style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">Makaha Time Trial - Saturday February 19th -
                        <a href="https://flpregister.com/568" target="_blank"
                          style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #007C89;font-weight: normal;text-decoration: underline;">Register Now</a>
                      </li>
                      <li
                        style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">Pineapple Sprint - Sunday March 6th
                      </li>
                      <li
                        style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">Castle to Hanauma Bay Time Trial - Sunday March 20th
                      </li>
                      <li
                        style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                        <a href="https://asbra.org/calendar/" target="_blank"
                          style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #007C89;font-weight: normal;text-decoration: underline;">See More</a>
                      </li>
                    </ul>
                    <img alt="A sprint on Pineapple Hill" data-file-id="5581157" height="275"
                      src="https://mcusercontent.com/ee78753d77175ca765c253254/images/feb72d53-0d1e-4a7d-70fd-cf6a74167681.jpg"
                      style="border: 0px initial;width: 600px;height: 275px;margin: 0px;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;"
                      width="600"><br>
                    <span style="font-size:12px"><em><span style="color:#696969">Photo Credit: </span><a
                      href="https://www.instagram.com/colinfcross/" target="_blank"
                      style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #007C89;font-weight: normal;text-decoration: underline;"><span
                      style="color:#696969">@colinfcross</span></a><span
                      style="color:#696969"> © 2020</span></em></span><br>
                    &nbsp;
                    <h2 class="null"
                      style="display: block;margin: 0;padding: 0;color: #202020;font-family: Helvetica;font-size: 22px;font-style: normal;font-weight: bold;line-height: 125%;letter-spacing: normal;text-align: left;">ASBRA Board Nominations</h2>

                    <p
                      style="margin: 10px 0;padding: 0;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #202020;font-family: Helvetica;font-size: 16px;line-height: 150%;text-align: left;">There are a number of board seats opening up on the ASBRA board and we are looking for members of the community to step up and join our team. ASBRA is an all volunteer, non-profit organization. No specific experience is required to fill a seat on the board, but a passion for bicycle racing and a willingness to give what time and talents you can is a must. The time commitment required is minimal, just a few hours per month, but the more we are able to contribute the more successful we will be in helping the bicycle racing community&nbsp;thrive.<br>
                      If you are at all interested please send an email to <a
                        href="mailto:board@asbra.org?subject=ASBRA%20Board%20Application" target="_blank"
                        style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #007C89;font-weight: normal;text-decoration: underline;">board@asbra.org</a> introducing yourself and letting us know why you think you would make a good addition to the team.
                    </p>

                    <h2 class="null"
                      style="display: block;margin: 0;padding: 0;color: #202020;font-family: Helvetica;font-size: 22px;font-style: normal;font-weight: bold;line-height: 125%;letter-spacing: normal;text-align: left;">Oahu Hill Climb Challenge</h2>

                    <p
                      style="margin: 10px 0;padding: 0;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #202020;font-family: Helvetica;font-size: 16px;line-height: 150%;text-align: left;">The annual Oahu Hill Climb Challenge, organized by
                      <a href="https://tradewindcyclingteam.com/" target="_blank"
                        style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #007C89;font-weight: normal;text-decoration: underline;">Tradewind Cycling Team</a>, is going on
                      <strong>right now</strong>&nbsp;through the end of February. <a href="https://www.ohcc.xyz/"
                        target="_blank"
                        style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #007C89;font-weight: normal;text-decoration: underline;">Register now</a> using your Strava account and start the season strong&nbsp;tackling 8 epic climbs.
                    </p>

                    <h2 class="null"
                      style="display: block;margin: 0;padding: 0;color: #202020;font-family: Helvetica;font-size: 22px;font-style: normal;font-weight: bold;line-height: 125%;letter-spacing: normal;text-align: left;">Hawaii Cycling Virtual Challenge</h2>

                    <p
                      style="margin: 10px 0;padding: 0;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #202020;font-family: Helvetica;font-size: 16px;line-height: 150%;text-align: left;">Just to recap in case you missed our previous emails, the 2021 Virtual Challenge Series was a huge success. Thank you to everyone who participated!&nbsp;The full series results are now available on the
                      <a href="https://asbra.org/virtual-challenge-series/" target="_blank"
                        style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #007C89;font-weight: normal;text-decoration: underline;">ASBRA website</a>. Congratulations to our top points scorers:<br>
                      <br>
                      <strong>Top Overall Man: Ray Brust (70 points)<br>
                        Top Overall Woman: Monique van der Aa (35 points)<br>
                        Top Junior: Canaan Cortes (30 points)</strong><br>
                      <br>
                      If you participated in the series, but did not ride in the Dick Evans Memorial Road Ride, and you were hoping to receive a T-shirt please contact me via email:
                      <a
                        href="mailto:paul@asbra.org?subject=HCVC%20T-Shirt&amp;body=Please%20let%20me%20know%20your%20size%2C%20preferred%20style%20(men's%20or%20women's)%2C%20and%20full%20name%20and%20mailing%20address."
                        target="_blank"
                        style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #007C89;font-weight: normal;text-decoration: underline;">paul@asbra.org</a>. If you rode in the DEMRR you should have already received your T-shirt or received an email from me about picking it up. If not, let me know.<br>
                      &nbsp;</p>

                    <h3 class="null"
                      style="display: block;margin: 0;padding: 0;color: #202020;font-family: Helvetica;font-size: 20px;font-style: normal;font-weight: bold;line-height: 125%;letter-spacing: normal;text-align: left;">Sincerely,<br>
                      Paul Wheeler</h3>

                  </td>
                </tr>
                </tbody>
              </table>
              <!--[if mso]>
              </td>
              <![endif]-->

              <!--[if mso]>
              </tr>
              </table>
              <![endif]-->
            </td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
    </tbody>
  </table>
</section>
