/*---
layout: master.hbs
title: ASBRA - Annual Point Series
subtitle: Point Series
description: The Official Website of ASBRA, the Aloha State Bicycle Racing Association.
activePage: point-series
head: |
  <link href="/style/index.css" rel="stylesheet" type="text/css">
  <link href="/style/point-series.css" rel="stylesheet" type="text/css">
---*/

<section id="overview">
  <h1>Overview</h1>

  <p>
    Beginning this year we are bringing back an old tradition with a new twist: the Best All 'Round Point Series.
  </p>
  <p>
    For each participating event<sup><a href="#participating_events">*</a></sup> that racers compete in, they will be awarded points based on finishing order within their <strong>race category</strong> (see table below). Note that all riders who <strong>start</strong> are given at least one point. At the end of the year we will tally up the points all riders based on their <strong>age group</strong>, and award prizes to the top point scorers. <em>The more you race, the better your chances!</em> In addition to the prizes, all participants will receive 2023 race season T-Shirt and possibly other <abbr about="Stuff We All Get">SWAG</abbr> (assuming you respond to our end of season survey with your T-shirt size and attend our end of season gathering, or provide a mailing address).
  </p>
  <p>
    Questions? Contact <a href="mailto:paul@asbra.org">Paul Wheeler</a>.
  </p>

  <section id="points_allotment">
  <h2>Points Allotment</h2>

  <table>
    <thead>
    <tr><td>Place</td><td>Points</td></tr>
    </thead>
    <tbody>
    <tr><td>1st</td><td>13</td></tr>
    <tr><td>2nd</td><td>8</td></tr>
    <tr><td>3rd</td><td>5</td></tr>
    <tr><td>4th</td><td>3</td></tr>
    <tr><td>5th</td><td>2</td></tr>
    <tr><td>6th or lower</td><td>1</td></tr>
    </tbody>
  </table>
  </section>

  <section id="participating_events">
    <h2>Participating Events</h2>
    <ul>
      <li>Makaha TT</li>
      <li>Pineapple Sprint</li>
      <li>Castle to Hanauma Bay TT</li>
      <li>Tantalus TT</li>
      <li>Kualoa Team TT</li>
      <li>Malaekahana TT</li>
      <li>Pineapple Hill Road Race</li>
      <li>Olomana Road Race</li>
      <li>Dick Evans Memorial Road Race</li>
    </ul>
    <p>More events, including some inter-island races, may still be added once we can confirm with the race directors.</p>
  </section>
</section>

<section id="sponsors">
  <h1>Sponsors</h1>

  <p>To Be Announced...</p>
</section>

<section id="standings">
  <h1>Standings</h1>

  <p>Coming Soon</p>
</section>

<section id="event_results">
  <h1>Event Results</h1>

  <p>Coming Soon</p>
</section>
