/*---
layout: master.hbs
title: ASBRA - Race Director Resources
subtitle: Race Director Resources
description: The Official Website of ASBRA, the USAC Local Association for the state of Hawaii.
activePage: resources
head: |
  <link href="/style/index.css" rel="stylesheet" type="text/css">
---*/

<section id="articles">
  <h1>Articles</h1>
  <p>
    Check back here for articles on the processes of organizing and promoting a race in Hawaii:
  </p>
  <ul>
    <li>Permitting with the City and County of Honolulu (DTS)</li>
    <li>Honolulu Police Department Special Duty Requests</li>
    <li>Neighborhood Board Meetings</li>
    <li>Marketing and Social Media</li>
    <li>Race Timing & Results</li>
    <li>Volunteers - Recruitment, Communication, and Organization</li>
  </ul>
</section>

<section id="links">
  <h2>Links</h2>
  <ul>
    <li><a href="https://www.usacycling.org/event-organizer/resources">USAC Race Director Resources</a></li>
    <li><a href="https://www.honolulu.gov/nco/boards.html/">Neighborhood Boards</a></li>
    <li>Traffic Control & Equipment Rental
      <ul>
        <li><a href="https://www.gproadwaysolutions.com/">GP Roadway Solutions</a></li>
        <li><a href="https://www.ssshinc.com/">Safety Systems & Signs</a></li>
      </ul>
    </li>
    <li><a href="https://www.webscorer.com/">Webscorer</a></li>
    <li><a href="https://hawaiisportmag.com">Hawaii Sports Magazine</a></li>
  </ul>
</section>
