$usac_blue: #031e41;
$usac_red: #d60b30;

$light_body_text: ghostwhite;
$dark_body_text: #222;

$light_background: whitesmoke;

$title_font: 'Bungee Inline', sans-serif;
$heading_font: 'Titillium Web', sans-serif;
