/*---
permalink: style/calendar.css
dynamicPermalink: false
---*/

@import '_theme.scss';
@import '_shared.scss';

body > section, body > main > section {
  h1 {
    margin: 0;

    &:before {
      content: '> ';
    }
  }
}

// Override site default margins, use padding for event details instead
main > section > div:not(:first-child) {
  margin-left: 0;
  margin-right: 0;
}

.event-details {
  &:not(.image-background) {
    padding-left: 1em;
  }

  * {
    box-sizing: border-box;
  }

  font-size: 16pt;

  h2 {
    font-size: 20pt;
    margin: 0.25em 0;
  }

  &.image-background {
    background-origin: border-box;
    background-repeat: no-repeat;
    // border: 8px solid fade_out(lightgray, 0.3);
    margin-left: 0;
    margin-right: 0;

    > div {
      padding: 1em;
      width: 70%;
      min-width: 300px;
    }
  }

  > div {
    padding: 10px 1em 10px 0;

    .event-header {
      display: flex;
      align-items: center;

      img {
        float: left;
        width: 100px;
        height: auto;
        margin-right: 10px;
      }
    }

    ul {
      margin: 0.25em;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      // Vertically center
      align-items: center;
      overflow: hidden;
      list-style: none;
      padding-left: 0;

      li {
        position: relative;
        margin-right: 1.5em;

        .info-label {
          font-weight: bold;
        }

        &:not(:first-child):before {
          content: '|';
          position: absolute;
          left: -0.75em;
          // Vertically center
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }

  &:last-child > div {
    padding-bottom: 40px;
  }
}

.hide-past {
  display: none;
}

.archive-event-list .event-details {
  &::before {
    content: ' ';
    display: block;
    width: 100%;
    height: 20px;
    background-color: $usac_blue;
  }

  .event-header h2 {
    font-size: 150%;
    font-family: $title_font;
  }

  > div {
    min-height: 200px;
    padding-left: 20px;
  }

  .result-link a {
    font-weight: bold;
    font-size: 120%;
  }
}

.pagination-horizontal {
  display: flex;
  flex-direction: column;
  align-items: center;

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    list-style: none;
    padding-left: 0;

    li {
      position: relative;
      margin-right: 1.5em;

      .info-label {
        font-weight: bold;
      }

      &:not(:first-child):before {
        content: '|';
        position: absolute;
        left: -0.75em;
      }
    }
  }
}

@media only screen and (max-width: 609px) {
  .event-details {
    &.image-background > div {
      width: unset;
    }

    #castle-to-hanauma-tt {
      float: none;
    }
  }
}

#castle-to-hanauma-tt {
  background-size: 130%;
  background-position-x: 100%;
  background-repeat: no-repeat;
  background-color: lightgray;
  background-blend-mode: multiply;
  // border-color: fade_out(palegoldenrod, 0.3);

  > div {
    float: right;
    background-color: fade_out(palegoldenrod, 0.3);
  }

  &:after {
    display: block;
    content: '';
    clear: both;
  }
}

#pedal-to-the-meadow {
  color: $light_body_text;

  background-size: 130%;
  background-position-y: 15%;
  background-position-x: 20%;
  background-color: lightgray;
  background-blend-mode: multiply;
  // border-color: fade_out(darken(darkgreen, 10), 0.3);

  > div {
    background-color: fade_out(darken(darkgreen, 10), 0.3);
  }

  a {
    @extend %light-color-link;
  }
}

#dick-evans-rr {
  background-size: 120%;
  background-position-y: 20%;
  background-repeat: no-repeat;
  background-color: dimgray;
  background-blend-mode: multiply;

  > div {
    background: fade_out(lightgray, 0.3);
  }
}

// Print layout

@media only print {
  body {
    background-color: transparent;
  }

  body > header > ul.navigation {
    display: none;
  }

  main > section > h1:first-child {
    padding: 2px 10px 2px 10px;
  }

  .calendar-section {
    break-inside: avoid-page;
  }

  .calendar-section-contents {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .event-details {
    > div, > div:last-child {
      padding: 5px 1em 5px 0;
    }
    ul.event-info {
      flex-direction: column;
      align-items: start;

      li:not(:first-child):before {
        display: none;
      }
    }

    .event-info-extra, .event-description, .event-flyer-link {
      display: none;
    }
  }

  .event-details.image-background > div {
    width: 100%;
    padding: 5px 1em 5px 0.5em;
  }

  #castle-to-hanauma-tt > div {
    background-color: rgba(238, 232, 170, 0.6);
  }

  #pedal-to-the-meadow > div {
    background-color: rgba(0, 49, 0, 0.5);
  }

  #dick-evans-rr > div {
    background: rgba(255, 255, 255, 0.5);
  }

  #calendar_qr_code {
    p {
      margin-bottom: 5px;
      font-family: Verdana, sans-serif;
      font-size: 14px;
    }

    img {
      width: 120px;
      height: 120px;
    }

    position: fixed;
    left: 20px;
    bottom: 0;
  }

  footer {
    position: fixed;
    right: 0;
    bottom: 0;
  }
}
