/*---
permalink: style/events.css
dynamicPermalink: false
---*/

@import '_theme.scss';
@import '_shared.scss';

.event-title {
  background: $usac_blue;
  color: ghostwhite;

  h2 {
    padding: 10px;
    font-family: $title_font;
    font-weight: normal;
  }
}

main > section > * {
  margin-left: 1em;
  margin-right: 1em;
  max-width: 1024px;
}

.event-registration {
  text-align: center;
  font-family: $title_font;
}

.event-subsection {
  h3 {
    font-family: $heading_font;
  }
}

#crit_schedule_table {
  display: flex;
  flex-direction: row;

  .col-header {
    overflow: hidden;
    font-weight: bold;
  }

  #crit_times, #crit_categories, #crit_durations {
    display: grid;
  }

  #crit_times {
    grid-column: 1;
    grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  #crit_categories {
    flex-grow: 1;
    grid-column: 2;
    grid-template-rows: auto 6fr 7fr 9fr 11fr 7fr 6fr 2fr;
  }

  #crit_durations {
    grid-column: 3;
    grid-template-rows: auto 6fr 7fr 9fr 11fr 7fr 6fr 2fr;
  }

  .crit-schedule-col > div {
    border: 2px solid lightgray;
    padding: 2px 6px;
  }
}
