/*---
permalink: style/index.css
dynamicPermalink: false
---*/

#sponsors {
  > div {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 20px;

    > a.friend-link {
      border: 8px solid lightgray;
      border-radius: 16px;
      position: relative;
      box-sizing: border-box;
      text-decoration: none;
      aspect-ratio: 1;
    }

    figure.friend-tile {
      padding: 10px;
      margin: 0;
      height: 100%;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      width: 25vw;
      min-width: 250px;

      div {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }

      img {
        max-height: 100%;
        max-width: 100%;
        height: auto;
        width: auto;
      }

      figcaption {
        margin-top: 10px;
        font-size: 22px;
        font-family: "Titillium Web", "Arial Black", Arial, sans-serif;
      }
    }
  }
}

a.donate-button:before {
  content: ' ';
  background-image: url('https://www.paypalobjects.com/paypal-ui/logos/svg/paypal-mark-color.svg');
  display: block;
  width: 24px;
  height: 18px;
  background-repeat: no-repeat;
  position: absolute;
  margin-left: -20px;
  margin-top: 2px;
}

a.donate-button {
  background-color: #f9b821;
  display: inline-block;
  padding: 6px 16px 6px 34px;
  border-radius: 16px;
  text-decoration: none;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

@media only print {
  body {
    background-color: transparent;
  }

  body > header {
    ul.navigation {
      display: none;
    }

    h1 {
      margin-left: 1em;
    }
  }

  main {
    h1, h2, h3, h4 {
      text-align: center;
    }

    display: flex;
    flex-direction: column-reverse;
  }

  footer {
    display: none;
  }

  #welcome, #links, #sign_up, #usac, #support {
    display: none;
  }

  #about {
    a {
      display: none;
    }

    font-size: 130%;
  }

  #sponsors {
    > div.friend-logos {
      max-width: calc(50vw + 120px);
      margin-left: auto;
      margin-right: auto;

      figure.friend-tile {
        min-width: 200px;

        figcaption {
          font-size: 80%;
        }
      }
    }

    page-break-before: always;
    font-size: 120%;
  }

  a.donate-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.1in;
    padding: 0;
    border-radius: unset;

    background-color: white;
    background-image: url('/images/Dontation QR Code.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 1.5in;
    height: 1.5in;

    &:before {
      content: none;
    }

    span {
      display: none;
    }
  }
}
