/*---
permalink: style/point-series.css
dynamicPermalink: false
---*/

@import '_theme.scss';

table {
  border-collapse: collapse;

  thead, tr.table-header {
    font-family: $heading_font;
    font-weight: bold;
    background-color: darken($light_background, 10%);
  }

  tbody > tr {
    background-color: $light_background;
  }

  td {
    border: 1.5px solid $dark_body_text;
    padding: 0.2em 0.5em;
  }
}

details.results {
  margin-top: 0.5em;
  padding-left: 0.5em;
  padding-bottom: 0.5em;
  background-color:darken($light_background, 10%);
  border-left: 2px solid darken($light_background, 20%);

  summary {
    font-family: $heading_font;
    margin-bottom: 0.5em;
    cursor: pointer;
  }

  > :not(:first-child) {
    margin-left: 2em;
  }
}

.sponsors-row {
  display: flex;
  flex-direction: row;
  align-items: center;

  > * {
    flex-shrink: 1;
    position: relative;
    padding: 20px;

    img {
      width: 100%;
      height: auto;
    }
  }
}
