/*---
permalink: style/point-series.css
dynamicPermalink: false
---*/

@import '_theme.scss';

#points_allotment table {
  border-collapse: collapse;

  thead {
    font-weight: bold;
    background-color: lightgray;
  }

  td {
    border: 1px solid gray;
    padding: 2px 9px;
  }
}

.sponsors-row {
  display: flex;
  flex-direction: row;
  align-items: center;

  > * {
    flex-shrink: 1;
    position: relative;
    padding: 20px;

    img {
      width: 100%;
      height: auto;
    }
  }
}
